*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: popins sans-serif;
}
body{
	background-color: rgb(4, 4, 43);
	display: flex;
	align-items: center;
	justify-content: center;

}
form{
	background-color: #fff;
	display: flex;
	flex-direction: column;
	padding: 2vw 4vw;
	width: 85%;
	max-width: 500px;
	border-radius: 10px;
	position: relative;
	margin-top:65px;
	margin-left: -60px;
}
form h3{
	color: darkblue;
	font-weight: 800;
	margin-bottom: 20px;
	justify-content: center;
	font-size: 30px;
}
form input, form textarea{
	border: 0px;
	margin: 10px 0;
	padding: 20px;
	outline: none;
	background: #f5f5f5;
	font-size: 18px;
}
button{
	padding: 15px;
	background: #ff5361;
	color: #fff;
	font-size: 20px;
	border: 0px;
	outline: none;
	cursor: pointer;
	width: 150px;
	margin: 20px auto 0;
	border-radius: 30px;

}
#icon2{
	display: none;
}
#icon{
	display: none;
}
#logo{
    margin: 30px;
    position: relative;
 	bottom: 230px;
 	right: 180px;
}
#log{
 font-size: 26px;   
 font-family: lucida handwriting;
 font-weight: bold;
 color: rgb(237, 180, 245);
 text-shadow: -2px -2px 1px rgb(180, 33, 33);
}
#log::after{
    content: '';
    display: block;
    background-color: rgb(236, 141, 200);
    border-radius: 5px;
    height: 8px;
    width: 150px;
    margin-top: 5px;
    box-shadow: -2px -2px 6px rgb(151, 12, 151),8px 8px 10px rgb(77, 8, 77);
}
#log::before{
    content: '';
    display: block;
    background-color: rgb(224, 35, 224);
    border-radius: 5px;
    height: 8px;
    width: 150px;
    box-shadow: 2px 2px 6px rgb(100, 5, 100),8px 8px 10px rgb(77, 8, 77);
}
ul{
    display: flex;
    position: relative;
    top: 50px;
    left: 280px;
}
ul li{
    list-style: none;
    color: black;
    margin-left: 30px;
}
ul li a{
    font-size: 18px;
    font-weight: 100;
    text-decoration: none;
    font-family: sans-serif;
    letter-spacing: 1px;
}
ul li a:hover{
    color: rgb(238, 105, 205);
}
.move{
	justify-content: space-between;
    display: flex;
    margin-bottom: 470px;
	margin-right: -150px;
}
a{
    color: white;
    margin-right: 20px;
    text-decoration: none;
    font-weight: bold;
    font-size:24px;
	margin-bottom: 40px;
	margin-left: 20px;
}
a:hover{
    color: #00b4d8;
    border-bottom: 3px solid blue;
    transition: 3s;

}

