*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(5, 5, 41);
     min-height: 100vh;
    align-items: center;
    position: fixed;
}
header{
    display: flex;
}
#logo{
    margin: 30px;
}
#log{
 font-size: 26px;   
 font-family: lucida handwriting;
 font-weight: bold;
 color: rgb(237, 180, 245);
 text-shadow: -2px -2px 1px rgb(2, 2, 2);
}
#log::after{
    content: '';
    display: block;
    background-color: rgb(236, 141, 200);
    border-radius: 5px;
    height: 8px;
    width: 150px;
    margin-top: 5px;
    box-shadow: -2px -2px 6px rgb(100, 5, 100),8px 8px 10px rgb(77, 8, 77);
}
#log::before{
    content: '';
    display: block;
    background-color: rgb(224, 35, 224);
    border-radius: 5px;
    height: 8px;
    width: 150px;
    box-shadow: 2px 2px 6px rgb(100, 5, 100),8px 8px 10px rgb(77, 8, 77);
}
ul{
    display: flex;
    position: relative;
    top: 50px;
    left: 680px;
}
ul li{
    list-style: none;
    color: black;
    margin-left: 30px;
}
ul li a{
    font-size: 18px;
    font-weight: 100;
    text-decoration: none;
    font-family: sans-serif;
    letter-spacing: 1px;
    color: white;
}
ul li a:hover{
    color: rgb(22, 22, 211);
    border-bottom: 2px solid blue;
    transition: 3s;
}
#cont{
    color: rgb(241, 233, 234);
    position: relative;
    bottom:0px;
    left: 50px;
    font-size: 40px;
    width: 100%;
}
.main{

    background-color: black;
    min-height: 70vh;
    position: relative;
    left: 40px;
    margin: 30px;
    align-items: center;
        width: 100%;
}
.container{
    position: relative;
    max-width: 500px;
    width: 100%;
    background-color: none;
    color: rgb(243, 232, 234);
    margin: 0 15px;
    padding: 30px 20px;
    margin: 30px;
}
.container.skill-box{
    width: 100%;
}
.container.title{
    display: block;
    font-size: 14px;
    font-weight: 600px;
    color: black;
    width: 100%;
}
.skill-box .skill-bar{
    width: 100%;
    background: rgb(114, 108, 108);
    height: 8px;
    border-radius: 8px;
    margin-top: 6px;
}
.skill-bar .skill-per{
    position: relative;
    display: block;
    height: 100%;
    width: 98%;
    background: rgb(231, 7, 44);
    border-radius: 8px;
    animation: progress 5s ease-in-out forwards;
    opacity: 0;
}
.skill-per.css{
    width: 95%;
}
.skill-per.javascript{
    width: 72%;
}
.skill-per.communication{
    width: 90%;
}
.skill-per.creativity{
    width: 70%;
}
.skill-per.projectmanagement{
    width: 91%;
}
.skill-per.teamwork{
    width: 90%;
}
@keyframes progress{
    0%{
        width: 0;
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.skill-per .tooltip{
    position: absolute;
    right: -14px;
    top: -28px;
    background: rgb(235, 15, 51);
    font-weight: 500;
    padding: 2px 6px;
    border-radius: 5px;
    color: white;
    z-index: 1;
}
.skill-per .tooltip::before{
    content: '';
    position: absolute;
    height: 10px;
    width: 10px;
    z-index: -1;
    left: 28px;
    bottom: -4px;
    background-color: rgb(238, 12, 50);
    transform: translateX(-50%) rotate(46deg);
}
#icon{
    display: none;
}
#icon2{
    display: none;
}
nav .fa{
    display: none;
}
@media(max-width:700px){
#logo{
    margin: 30px;
}
#log{
 font-size: 22px;   
 font-family: lucida handwriting;
 font-weight: bold;
 color: rgb(237, 180, 245);
 text-shadow: -2px -2px 1px rgb(2, 2, 2);
}
#log::after{
    content: '';
    display: block;
    background-color: rgb(236, 141, 200);
    border-radius: 5px;
    height: 8px;
    width: 120px;
    margin-top: 5px;
    box-shadow: -2px -2px 6px rgb(100, 5, 100),8px 8px 10px rgb(77, 8, 77);
}
#log::before{
    content: '';
    display: block;
    background-color: rgb(224, 35, 224);
    border-radius: 5px;
    height: 8px;
    width: 120px;
    box-shadow: 2px 2px 6px rgb(100, 5, 100),8px 8px 10px rgb(77, 8, 77);
}
#cont{
    color: rgb(241, 233, 234);
    position: relative;
    top: 120px;
    left: 50px;
    font-size: 15px;

}
ul{
    display: flex;
    position: relative;
    top: 30px;
    left: 30px;
}
ul li{
    list-style: none;
    color: black;
    margin-left: 20px;
}
ul li a{
    font-size: 18px;
    font-weight: 100;
    text-decoration: none;
    font-family: sans-serif;
    letter-spacing: 1px;
}
ul li a:hover{
    color: blue;
    border-bottom: 1px solid blue;
    transition: 3s;
}
li{
    margin-top: 30px;
    height: 13vh;
}
.nav-links ul{
    position: absolute;
    left: 5px;
    display: block;
}
.nav-links ul li a{
    font-size: 25px;
    font-weight: bold;
    
}
#icon{
    position: relative;
    left: 150px;
    top: 20px;
    display: block;
    font-size: 30px;
}
#icon2{
    font-size: 30px;
    margin: 10px;
    color: #fff;
    cursor: pointer;
    display: block;
}
.nav-links{
    position: absolute;
    background: rgb(8, 8, 8);
    border: none;
    border-left: 2px solid hotpink;
    height: 785px;
    width: 200px;
    top: 0;
    right: 0;
    text-align: left;
    z-index: 2;
    display: none;
    transition: 1s;
    
}
ul li a{
    color: white;
}
#cont{
    color: rgb(241, 233, 234);
    font-size: 20px;
    width: 100%;
}
.main{
    background-color: black;
    min-height: 70vh;
    margin-top: 110px;
    position: relative;
    right: 30px;
    align-items: center;
    width: 100%;
}
.container{
    position: relative;
    max-width: 500px;
    width: 100%;
    background-color: none;
    color: rgb(243, 232, 234);
    margin: 0 15px;
    padding: 30px 20px;
    margin: 30px;
    position: relative;
    top: 70px;
}

}
